.header {
    width: 100%;
    height: 50px;
    background: #0066CC;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link_box {
    height: 20px;
    padding: 5px;
    border-radius: 10px;
}

.link_box a {
    text-decoration: none;
    text-underline: none;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}

.link_box a:hover {
    font-size: 18px;
}
